body {
	max-width: 700px;
	width: 60%;
	margin: 20px auto;
	border: 10px solid #b7c6c9;
	padding: 20px;
}

.date {
	font-family: 'Baloo Paaji 2', cursive;
	color: #1d95ad;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 2.0rem;
	font-weight: bold;
}

.content {
	font-family: 'Lato', sans-serif;
	border-bottom: 1px solid #b7c6c9;
}

.firstP {
	border-left: 3px solid #b7c6c9;
	padding-left: 5px; 
}